body {
    font-family: 'Arial', sans-serif;
    background-color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

h1 {
    color: #333;
}

input {
    display: flex;
    margin: 30px;
    border: none;
    box-shadow: 0 0 5px gray;
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    
}


button {
    width: 15%;
    padding: 8px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin: 1px;
    
}

button:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #eee;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}
